/* * {
    border: 1px dotted blueviolet;
} */
@font-face {
    font-family: 'anironc bold';
    src: url('./fonts/title/anicb___.ttf');
}

@font-face {
    font-family: 'anironc medium';
    src: url('./fonts/title/anicm___.ttf');
}

@font-face {
    font-family: 'aniron_bold';
    src: url('./fonts/title/anirb___.ttf');
}

@font-face {
    font-family: 'aniron medium';
    src: url('./fonts/title/anirm___.ttf');
}

@font-face {
    font-family: 'partybusiness';
    src: url('./fonts/text/partybusiness.ttf');
}

@font-face {
    font-family: 'tngan';
    src: url('./symbols/tngan.ttf');
}

.no-gutters {
    margin: 0;
}
h1,
h2,
h3,
h4,
h5
.nav-font {
    font-family: 'aniron_bold', sans-serif;
}
.symbol {
    font-family: 'tngan', sans-serif;
    font-size: 4vw;
    color: rgb(226, 97, 23);
}

.dead .card-title {
    font-family: 'partybusiness', sans-serif;
}
body {
    font-family: 'partybusiness', sans-serif;
    background-image: url(./images/bg_light.png);
}
.navbar {
    background-color: rgb(226, 97, 23)
}
.navbar .active {
    border-bottom: 3px solid white;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
}
.carousel-caption p{
    font-size: 4vw;
    text-align: left;
}
.carousel-caption h2{
    font-size: 3.5vw;
    text-align: left;
}
.titleFellows {
    width: 90vw;
    color:  rgb(226, 97, 23);
}
h3 {
    font-size: 2.5vw;
}
h3 span {
    font-size: 1.5vw;
    margin-bottom: 0;
    padding-bottom: 0;
}
.roundedImage {
    border-radius: 100%;
}

.card {

    position: relative;
    text-align: center;
    background-color: black;
}

.titleRewards, .ring, .contact {
    background-image: url(./images/bg_dark.png);
}
.titleRewards,
.ring,
.contact,
.card-title,
.card-text {
    color: white;
}

.titleRewards div p {
    max-height: 15vh;
    overflow: auto;
}

.titleRewards > img {
    max-width: 90vw;
}
.card img {
    opacity: 0.7;
    z-index: 1;
    width: 100%;
}
.card .card-dead {
    opacity: 0.3;
}

.nav-pills {
    font-family: 'aniron_bold', sans-serif;
    font-size: 1.5vw;
}
.nav-link,
.show > .nav-link {
    background-color: transparent!important;
    color: gray!important;
}
.nav-link.active,
.show > .nav-link {
    background-color: transparent!important;
    color: rgb(226, 97, 23)!important;
    text-decoration:  rgb(226, 97, 23) solid underline;
}
.nav-link.active > .symbol-pills {
    font-family: 'tngan', sans-serif;
}
.nav-link.inactive > .symbol-pills {
    font-family: 'tngan', sans-serif;
    visibility: hidden;
}

/* section {
    border-top: 1px solid rgb(58, 58, 58);
} */

.reward {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 2vw;
    margin: 0;
    padding: 6px 2px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
}
.dead {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color:  rgb(226, 97, 23);
    font-size: 5vw;
}

.gimli {
    text-decoration:  rgb(226, 97, 23) solid line-through;
}
.card-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 5vw;
}

.card-text {
    font-size: 3vw;
}
.hunters img {
    max-width: 20vw;
}

.jointhearmy img {
    max-width: 140px;
}

#thecards b {
    color:  rgb(226, 97, 23);
    font-weight: 400;
}

/*Au passage de la souris*/

.card:hover img {
    opacity: 1;
}

.reward:hover p {
    display: none;
}
.btn-primary {
    background-color: white;
    color:  rgb(226, 97, 23);
    border: none;
    font-size: 2vw;
    font-family: 'aniron_bold', sans-serif;
}

.img-thumbnail{
    background-color: transparent!important;
}
footer {
    background-color:  rgb(226, 97, 23)!important;
}
